<p id="notice"><%= notice %></p>

<p>
  <strong>Prompt:</strong>
  <%= @my_question.prompt %>
</p>

<%= link_to 'Edit', edit_my_question_path(@my_question) %> |
<%= link_to 'Back', my_questions_path %>
