<h1>Editing Question</h1>

<%= render 'shared/form', question: @question, path: update_specific_path %>

<%= link_to 'Show', [@interview, @specific] %> |
<%= link_to 'Back', interview_specifics_path(@interview) %>
